<div class="form-group" [formGroup]="form">
  <label i18n="@@editArticleLabelPublishDate">Publish Date</label>
  <input type="date" class="form-control" [formControlName]="id" i18n-placeholder="@@editArticleInputPublishDate" placeholder="Publish Date">
</div>
