<div class="public-page footer">
  <div class="footer-content footer-content-width">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-cell footer-header" i18n="@@footerHeaderImbisa">IMBISA</div>
      </div>
      <div class="col-sm-2">
        <div class="footer-cell footer-header" i18n="@@footerHeaderInformation">Information</div>
      </div>
      <div class="col-sm-4">
        <div class=" footer-cell footer-header" i18n="@@footerHeaderQuickLinks">Quick Links</div>
      </div>
      <div class="col-sm-2">
        <div class=" footer-cell footer-header" i18n="@@footerHeaderInteract">Interact</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-cell footer-description">
          <div i18n="@@footerImbisaP1">We are the Catholic Church throughout Southern Africa communicating our
            stories in order to grow, serve and
            thrive as a united community.</div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="footer-cell footer-line-height">
          <div><a routerLink="/about/start" i18n="@@footerInformationP1">About Us</a></div>
          <div><a routerLink="/people" i18n="@@footerInformationP2">Our People</a></div>
          <div><a routerLink="/people" i18n="@@footerInformationP4">Bishops</a></div>
          <div *ngIf="linkService.links && linkService.links.documents"><a i18n="@@footerInformationP5" target="_blank" [href]="domSanitizer.bypassSecurityTrustUrl(linkService.links.documents)">Documents</a></div>
          <div *ngIf="linkService.links && linkService.links.photos"><a i18n="@@footerInformationP6" target="_blank" [href]="domSanitizer.bypassSecurityTrustUrl(linkService.links.photos)">Photos</a></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-cell footer-line-height">
          <div><a routerLink="/about/top" i18n="@@footerQuickLinksP1">What is IMBISA?</a></div>
          <div><a routerLink="/about/top" i18n="@@footerQuickLinksP2">Why does IMBISA exist?</a></div>
          <div><a routerLink="/about/top" i18n="@@footerQuickLinksP3">Who is IMBISA?</a></div>
          <div><a routerLink="/about/where" i18n="@@footerQuickLinksP4">Where is IMBISA?</a></div>
          <div><a routerLink="/about/history" i18n="@@footerQuickLinksP5">A brief history of IMBISA</a></div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="footer-cell footer-line-height">
          <div><a routerLink="/stories" i18n="@@footerInteractP1" class="blue-link">Submit A Story</a></div>
          <div><a routerLink="/contact" i18n="@@footerInteractP3">Contact</a></div>
          <div class="footer-icon-section"><a target="_blank" href="https://twitter.com/IMBISA"
              class="footer-icon twitter-icon"><i class="fab fa-twitter"></i></a><a
              target="_blank" href="https://www.facebook.com/Imbisa-The-Inter-Regional-Meeting-of-the-Bishops-of-Southern-Africa-530311466984843/" class="footer-icon facebook-icon"><i
                class="fab fa-facebook-square"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>