<form #loginRequestForm="ngForm">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" i18n-placeholder="@@listAdminInput"
        placeholder="New Administrator Email" [(ngModel)]="email" name="email" email required />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="saveLoginRequest(loginRequestForm.form.valid)"
          [ngClass]="{hidden: disableSubmit}" i18n="@@listAdminSendLoginRequest">send login request</button>
        <button class="btn btn-outline-secondary" type="button" disabled *ngIf="disableSubmit">sending login
          request...</button>
      </div>
    </div>          
  </div>
</form>
