<app-admin-nav-bar></app-admin-nav-bar>
<div class="admin-page page-margin-top">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-padding-top content-margin-bottom heading border-bottom-primary"
        i18n="@@linksHeading">Links</div>
      <div class="content content-width content-margin-bottom">
        <div class="form-group">
          <label i18n="@@linksLabelDocumentsLink">Documents Link</label>
          <input type="text" class="form-control" i18n-placeholder="@@linksInputDocumentsLink"
          placeholder="Documents Link" [(ngModel)]="links.documents">
        </div>
        <div class="form-group">
          <label i18n="@@linksLabelPhotosLink">Photos Link</label>
          <input type="text" class="form-control" i18n-placeholder="@@linksInputPhotosLink"
          placeholder="Photos Link" [(ngModel)]="links.photos">
        </div>      
      </div>
      <div class="content content-width content-margin-bottom-last text-center">
        <button class="btn btn-secondary" type="button" i18n="@@linksSave" (click)="save()" [disabled]="disableSubmit">save
        </button>
      </div>      
    </div>
  </div>
</div>
<app-footer class="admin-footer"></app-footer>
