<div class="form-group" [formGroup]="form">
  <label i18n="@@editArticleLabelCountry">Country</label>
  <select class="form-control" [formControlName]="id">
    <option i18n="@@editArticleCountrySearch" [value]="''">Select Country</option>
    <option *ngFor="let region of regionService.list" [value]="region.name">{{region.name}}
  </select>
</div>