<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <img class="btn-modal-close float-right" (click)="closeModal()" src="assets/images/dialog/X_toClose.svg" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="heading-bold text-center" i18n="@@storiesModalP1">Please complete your</div>
      <div class="heading-bold text-center" i18n="@@storiesModalP2">submission before navigating</div>
      <div class="heading-bold text-center" i18n="@@storiesModalP3">away from this page.</div>
      <div class="text-center modal-main-content modal-margin-top">
        <span i18n="@@storiesModalP4">Changes will not be saved if you</span>&nbsp;<a class="story-modal-link" (click)="proceed()" i18n="@@storiesModalLink1">navigate</a>
      </div>
      <div class="text-center modal-main-content modal-margin-bottom">
        <a class="story-modal-link" (click)="proceed()" i18n="@@storiesModalLink2">away</a>&nbsp;<span i18n="@@storiesModalP5">from this page.</span>
      </div>      
    </div>
  </div>
</div>
