<app-public-nav-bar></app-public-nav-bar>
<div class="public-page about-top-image">
  <div class="image-overlay">
    <div class="absolute-center absolute-center-top-image about-first-top-image-content">
      <div class="text-center">
        <div>
          <div class="image-block image-heading" i18n="@@aboutTopImageHeadingP1">
            DRAW A LITTLE
          </div>
        </div>
        <div>
          <div class="image-block image-heading" i18n="@@aboutTopImageHeadingP2">
            CLOSER TO THE FIRE
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="w-100" src="assets/images/header/Imbisa_AboutHeader.jpg">
</div>
<div class="public-page">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width about-intro-content text-center" i18n="@@aboutIntroContent">
        Throughout time, the human race has gathered around the camp fire, for safety,
        for warmth, and to share life’s greatest stories. Similarly, Imbisa is that meeting point,
        where we can congregate, connect and share in an environment of mutual respect.
        And so, it is in this spirit, that we invite you to draw a little closer to the fire.
      </div>
    </div>
  </div>
  <div class="about-image">
    <img class="w-100" src="assets/images/about/Imbisa_AboutImage_01.jpg">
  </div>
</div>
<div class="public-page" id="top">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width">
        <div class="row">
          <div class="col-sm-4">
            <div class="heading-content" i18n="@@aboutWhatHeading">What is IMBISA?</div>
            <div i18n="@@aboutWhatContent">
              Imbisa stands for “The Inter-Regional Meeting of the Bishops of Southern Africa” It was officially
              constituted in 1978 to connect Bishops’ Conferences and enable better communication between the regions.
              Today, almost half a century since its inception, Imbisa continues to connect The Southern African
              Church.
              We are proud to include voices from the wider Catholic community alongside those of our Bishops, Clergy
              and Religious.
            </div>
          </div>
          <div class="col-sm-4">
            <div class="heading-content" i18n="@@aboutWhyHeading">Why does IMBISA exist?</div>
            <div i18n="@@aboutWhyContent">
              Imbisa connects The Southern African Church across vast distances. It shares stories of particular
              relevance to Catholics in our region. It helps communities to stand in solidarity with one another. It
              inspires unity and provides a shared identity through ongoing communication. This website is one of the
              faces of Imbisa. It is a platform for Bishops to communicate with laity, and for laity to communicate
              with
              Bishops. It is a shared space where important conversations can be had, involving a diverse cross
              section
              of voices. This website is not a social network, or a news channel.
            </div>
          </div>
          <div class="col-sm-4">
            <div class="heading-content" i18n="@@aboutWhoHeading">Who is IMBISA?</div>
            <div i18n="@@aboutWhoContent">
              If you are Catholic and live in one of our member regions, YOU are Imbisa. No matter your age, vocation,
              gender, education or culture, your voice is important here. This website has been created to facilitate
              positive interaction between all members of our vast community. We invite you to share a Catholic story
              from your parish or diocese, offer your insight on one of the many pressing issues The Church in Africa
              is
              dealing with, or even ask for Catholic advice on a particular topic of personal or group concern.
            </div>
          </div>
        </div>
        <div class="about-divider"></div>
      </div>
    </div>
  </div>
</div>
<div class="public-page" id="where">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm">
          <div class="content content-width content-margin-bottom-last">
            <div class="heading-content text-center" i18n="@@aboutWhereHeading">Where is IMBISA?</div>
            <div class="text-center" i18n="@@aboutWhereContent">
              Angola - Botswana - Eswatini - Lesotho - Mozambique - Namibia - São Tomé and Príncipe - South Africa -
              Zimbabwe
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-image">
    <img class="w-100" src="assets/images/about/Imbisa_AboutImage_02.jpg">
  </div>  
</div>
<div class="public-page" id="history">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width">
        <div class="row">
          <div class="col-sm">
            <div class="heading-content remove-margin-left briefHistoryHeading" i18n="@@aboutBriefHistoryImbisaHeading">
              A brief history of IMBISA</div>
            <div class="content content-margin-bottom remove-margin-left remove-margin-right"
              i18n="@@aboutBriefHistoryImbisaP1">
              The Second Vatican Council (1962-1965) introduced a new era of collegial ministry into the Catholic Church
              as a response to the changing circumstances, in which she then found herself.
            </div>
            <div class="content content-margin-bottom remove-margin-left remove-margin-right"
              i18n="@@aboutBriefHistoryImbisaP2">
              Africa was also changing rapidly and it was becoming clear that increased communication between all the
              Bishops of the region was needed in order for them to fulfil their office effectively.
            </div>
            <div class="content content-margin-bottom remove-margin-left remove-margin-right"
              i18n="@@aboutBriefHistoryImbisaP3">
              These two factors sparked an informal meeting of the Southern African Bishops during the Universal
              Bishops’ Synod in Rome in 1974. Following this, a meeting of Bishops’ delegates of Southern African
              countries was held in Pretoria in 1975. This was the start of a process that would result in the birth of
              Imbisa.
            </div>
            <div class="content content-margin-bottom remove-margin-left remove-margin-right"
              i18n="@@aboutBriefHistoryImbisaP4">
              The Imbisa Constitution was approved at an assembly held in Lesotho in 1978 and finally, in 1980 The
              Imbisa Secretariat was established in Manzini, Swaziland.
            </div>
            <div class="content content-margin-bottom remove-margin-left remove-margin-right"
              i18n="@@aboutBriefHistoryImbisaP5">
              For over forty years, the organisation has remained true to its founding objectives, to enable Bishops to
              discuss matters of common interest and to update each other with regards to developments in their
              respective countries.
            </div>
            <div class="content content-margin-bottom-last remove-margin-left remove-margin-right"
              i18n="@@aboutBriefHistoryImbisaP6">
              2020 marks a new chapter in the Imbisa story with the launch of this new website. It is designed
              especially to engage laity on a deeper level as we continue to strive for the ideals established in The
              Second Vatican Council.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mailing-list></app-mailing-list>
<app-footer></app-footer>