<img style="margin-bottom: 3rem; width: 100%" src="https://imbisa.africa/en/assets/images/email/Imbisa-EmailHeader.png">
<p i18n="@@emailTemplateP1">Dear Subscriber,</p>
<p i18n="@@emailTemplateP2">a new article titled:</p>
<div><a style="font-weight: bold; color: #007bff !important; text-decoration: none;" href="">Article Title to be placed
    here</a></div>
<div style="font-weight: bold;">Author Name</div>
<div style="font-weight: bold;margin-bottom: 1rem;">Country</div>
<p><span i18n="@@emailTemplateP3">has just been posted at</span>&nbsp;<a style="font-weight: bold; color: black !important; text-decoration: none;"
    href="https://imbisa.africa/en/home/start">www.imbisa.africa.</a></p>
<p i18n="@@emailTemplateP4">We think you'll find it valuable.</p>
<div i18n="@@emailTemplateP5">
  Please feel free to respond to this email address with feedback to help ensure that
</div>
<div style="margin-bottom: 1rem;" i18n="@@emailTemplateP6">
  we always post quality content that is relevant to you and your region.
</div>
<p><span i18n="@@emailTemplateP7">You are also invited to</span>&nbsp;<a style="font-weight: bold; color: #007bff !important; text-decoration: none;"
    href="https://imbisa.africa/en/stories" i18n="@@emailTemplateSubmitArticleLink">submit your own article</a>&nbsp;<span i18n="@@emailTemplateP8">by clicking on the link.</span></p>
<p i18n="@@emailTemplateP9">We look forward to hearing from you.</p>
<p i18n="@@emailTemplateP10">Happy reading, and God bless.</p>
<p style="font-weight: bold" i18n="@@emailTemplateP11">The Imbisa Team</p>
<img src="https://imbisa.africa/en/assets/ImbisaLogo.png" style="width: 25%; margin-bottom: 3rem;" />
<p><span i18n="@@emailTemplateP12">Click</span>&nbsp;<a style="font-weight: bold; color: black !important; text-decoration: none !important;"
    href="mailto:imbisa@imbisa.com" target="_blank" i18n="@@emailTemplateUnsubscribeLink">here</a>&nbsp;<span i18n="@@emailTemplateP13">to unsubscribe from this mailing list.</span></p>