<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <img class="btn-modal-close float-right" (click)="closeModal()" src="assets/images/dialog/X_toClose.svg" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="heading-bold text-center" i18n="@@mailingListModalP1">Thank you</div>
      <div class="heading-bold text-center" i18n="@@mailingListModalP2">for subscribing.</div>
      <div class="text-center modal-main-content modal-margin-top modal-margin-bottom" i18n="@@mailingListModalP3">You
        have been added to our mailing list.</div>
      <div class="text-center content-margin-bottom"><span i18n="@@mailingListModalP4">If you would like to
          unsubscribe, please</span>&nbsp;<a class="mailing-list-modal-link" (click)="deleteSubscriber()"
          i18n="@@mailingListModalLink">click here.</a></div>
    </div>
  </div>
</div>