<div [formGroup]="form" *ngIf="form">
    <textarea class="form-control textarea-control" #textarea rows="1" [formControlName]="section.id" maxlength="10000"
        [ngClass]="{italic: section.italic, bold: section.bold, 'bright-blue': section.color == 'bright-blue', 'dark-grey': section.color == 'dark-grey'}"
        [ngStyle]="{'font-size': section.fontSize}"></textarea>
</div>
<div *ngIf="!form" >
    <textarea class="form-control view-article-textarea" readonly #textarea rows="1">{{section.content}}</textarea>
</div>