<app-admin-nav-bar></app-admin-nav-bar>
<div class="admin-page page-margin-top">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-padding-top content-margin-bottom heading border-bottom-primary"
        i18n="@@listSubscriberHeading">Subscribers</div>
      <div class="content content-width content-margin-bottom-last">
        <app-list-lookup [service]="subscriberService" [firstColumnName]="'Email'"></app-list-lookup>
      </div>
    </div>
  </div>
</div>
<app-footer class="admin-footer"></app-footer>
