<app-admin-nav-bar></app-admin-nav-bar>
<div class="admin-page page-margin-top">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-padding-top content-margin-bottom heading border-bottom-primary"
        i18n="@@listAdminHeading">Administrators</div>
      <div class="content content-width content-margin-bottom-last">
        <app-login-reguest></app-login-reguest>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th i18n="@@listAdmimColumnEmail">Email</th>
              <th i18n="@@listAdminColumnAdmin">Admin</th>
              <th i18n="@@listAdminColumnNotifications">Notifications</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.email}}</td>
              <td>
                <select class="form-control" [(ngModel)]="user.admin" (change)="changeAdmin(user)"
                  [disabled]="user.disableAdmin || (angularFireAuth.auth.currentUser && angularFireAuth.auth.currentUser.uid == user.id)">
                  <option *ngFor="let option of options" [value]="option.key">{{option.value}}</option>
                </select>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="user.notifyNewArticle" (change)="changeNotification(user)"
                  [disabled]="user.disableNotification">
                  <option *ngFor="let option of options" [value]="option.key">{{option.value}}</option>
                </select>
              </td>              
            </tr>
            <tr *ngIf="users.length == 0">
              <td colspan="100" class="text-center" i18n="@@listAdministratorsMessageNoUsers">No Users</td>
            </tr>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer class="admin-footer"></app-footer>