<app-public-nav-bar></app-public-nav-bar>
<div class="public-page top-image">
  <div class="image-overlay">
    <div class="absolute-center absolute-center-top-image contact-top-image-content">
      <div class="text-center">
        <div>
          <div class="image-block image-heading" i18n="@@contactTopImageHeadingP1">
            WE’D LOVE TO HEAR
          </div>
        </div>
        <div>
          <div class="image-block image-heading" i18n="@@contactTopImageHeadingP2">
            FROM YOU
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="w-100" src="assets/images/header/Imbisa_ContactHeader.jpg">
</div>
<div class="public-page">

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-margin-bottom-last">
        <div class="row contact-entry-margin-bottom">
          <div class="col-sm-6">
            <div class="contact-entry">
              <span i18n="@@contactContentEntryEmailTitle" class="bold">Email:</span>&nbsp;<span><a
                  href="mailto:imbisa@imbisa.com" target="_blank">imbisa@imbisa.com</a></span>
            </div>
            <div class="contact-entry">
              <span i18n="@@contactContentEntryTelephoneTitle" class="bold">Telephone:</span>&nbsp;<span
                i18n="@@contactContentEntryTelephone">+263 242 336 775</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="contact-entry bold" i18n="@@contactContentEntryPhysicalAddressTitle">
              Physical address:
            </div>
            <div class="contact-entry" i18n="@@contactContentEntryPhysicalAddressP1">
              Imbisa Centre, 88 Broadlands Road,
            </div>
            <div class="contact-entry" i18n="@@contactContentEntryPhysicalAddressP2">
              Emerald Hill, Harare, Zimbabwe
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-entry bold" i18n="@@contactContentEntryFollowUsTitle">
              Follow us:
            </div>
            <div class="contact-entry">
              <a target="_blank"
                href="https://www.facebook.com/Imbisa-The-Inter-Regional-Meeting-of-the-Bishops-of-Southern-Africa-530311466984843/"
                i18n="@@contactContentEntryFacebookLink">Facebook</a>
            </div>
            <div class="contact-entry">
              <a target="_blank" href="https://twitter.com/IMBISA" i18n="@@contactContentEntryTwitterLink">Twitter</a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="contact-entry bold" i18n="@@contactContentEntryPostalAddressTitle">
              Postal address:
            </div>
            <div class="contact-entry" i18n="@@contactContentEntryPostalAddressP1">
              Imbisa Centre, 88 Broadlands Road,
            </div>
            <div class="contact-entry" i18n="@@contactContentEntryPostalAddressP2">
              Emerald Hill, Harare, Zimbabwe
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mailing-list></app-mailing-list>
<app-footer></app-footer>