<app-public-nav-bar *ngIf="displayLayout"></app-public-nav-bar>
<div class="public-page">
  <div class="row" [ngClass]="{'page-margin-top': displayLayout}">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div [ngClass]="{hidden: article}" class="content content-width">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div *ngIf="article" class="content content-width content-margin-bottom"
        [ngClass]="{'content-padding-top': displayLayout}">

        <img class="w-100 view-article-image" [src]="domSanitizer.bypassSecurityTrustUrl(article.articleImageContent)">
        <div class="view-article-divider border-bottom-blue d-none d-md-block"></div>
        <div class="view-article-heading">{{article.articleHeadline}}</div>
      </div>
      <div *ngIf="article" class="content content-width content-margin-bottom">
        <div class="row">
          <div class="col-sm-4">
            <div class="view-article-sub-heading-border-top" *ngIf="article.publishDate">
              <div class="bold" i18n="@@viewArticleDatePublished">Date Published:</div>
              <div>{{article.publishDate | date}}</div>
            </div>
            <div class="view-article-sub-heading-border-top">
              <div class="bold" i18n="@@viewArticleAuthor">Author:</div>
              <div>{{article.authorName}}</div>
            </div>
            <div class="view-article-sub-heading-border-top">
              <div class="bold" i18n="@@viewArticleAboutAuthor">About the Author:</div>
              <div><span i18n="@@viewArticleDescriptor">Descriptor:</span>&nbsp;<span>{{article.author}}</span></div>
              <div><span i18n="@@viewArticleGender">Gender:</span>&nbsp;<span>{{article.gender}}</span></div>
              <div><span i18n="@@viewArticleRegion">Country:</span>&nbsp;<span>{{article.region}}</span></div>
            </div>
            <div class="view-article-sub-heading-border-top" *ngIf="article.topic">
              <div class="bold" i18n="@@viewArticleTags">Article Tags:</div>
              <div *ngFor="let topic of article.topic">{{topic}}</div>
            </div>
            <div class="view-article-sub-heading-border-top" *ngIf="article.documentLinkUrl">
              <div class="bold" i18n="@@viewArticleDocumentLink">Document Link:</div>
              <a class="dark-grey link-document" target="_blank"
                [href]="domSanitizer.bypassSecurityTrustUrl(article.documentLinkUrl)">{{article.documentLinkDescription || article.documentLinkUrl}}</a>
            </div>
          </div>
          <div class="col-sm-8 view-article-body">
            <div class="content content-margin-bottom" *ngFor="let section of sections"
              [ngClass]="{italic: section.italic, bold: section.bold, 'bright-blue': section.color == 'bright-blue', 'dark-grey': section.color == 'dark-grey'}"
              [ngStyle]="{'font-size': section.fontSize}">
              <app-content-article [content]="section.content"
                [ngClass]="{hidden: section.content.indexOf('data:image') > -1}"></app-content-article>
              <img *ngIf="section.content.indexOf('data:image') > -1" class="w-100"
                [src]="domSanitizer.bypassSecurityTrustUrl(section.content)">
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="article" class="content content-width" [ngClass]="{'content-margin-bottom': displayLayout}">
        <div class="border-bottom-blue"></div>
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-8">
            <div class="view-article-share">
              <div class="bold" i18n="@@viewArticleShare">Share:</div>
              <div class="view-article-share-body">
                <a class="view-article-share-icon" 
                [href]="twitterLink"
                  data-show-count="false"           
                  target="_blank">
                  <i class="fab fa-twitter-square"></i>
                </a>
                <a class="view-article-share-icon"
                  [href]="facebookLink"
                  target="_blank">
                  <i class="fab fa-facebook-square"></i>
                </a>
                <a class="view-article-share-icon" [href]="whatsappLink"
                  target="_blank"><i class="fab fa-whatsapp-square"></i></a>
                <!--<a class="view-article-share-icon" href="https://www.instagram.com/?url=https://www.drdrop.co/"
                  target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="view-article-share-icon" data-pin-do="buttonBookmark" data-pin-lang="en"
                  href="https://www.pinterest.com/pin/create/button/" data-pin-custom="true"><i
                    class="fab fa-pinterest-square"></i></a>
                <a class="view-article-share-icon skype-share" data-href="" data-lang="" data-text="" data-style=""><i
                    class="fab fa-skype"></i></a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mailing-list *ngIf="displayLayout"></app-mailing-list>
<app-footer *ngIf="displayLayout"></app-footer>