<div class="row header public-page">
  <div class="col-lg-1 d-none d-lg-block">
  </div>
  <div class="col-sm-12 col-lg-10">
    <div class="float-left center-container">
      <div class="absolute-center absolute-center-logo">
        <a routerLink="/home/start" title="Imbisa">
          <img src="assets/ImbisaLogo.png" alt="Imbisa">
        </a>
      </div>
    </div>
    <div class="float-right d-md-none navbar-light">
      <button class="btn btn-sm btn-light btn-navbar" type="button" data-toggle="collapse"
        data-target="#collapseSubHeader">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="float-right center-container center-container-nav d-none d-md-block">
      <div class="absolute-center absolute-center-nav">
        <nav class="float-right">
          <a routerLink="/home/start" class="first" [ngClass]="{hidden: loginPage}"><i class="fas fa-home navbar-link-icon"
              i18n-title="@@navBarHomeTitle" title="HOME"></i><span class="navbar-link-text"
              i18n="@@navBarHome">HOME</span></a>
          <a routerLink="/about/start" [ngClass]="{hidden: loginPage}"><i class="fas fa-info navbar-link-icon"
              i18n-title="@@navBarAboutTitle" title="ABOUT"></i><span class="navbar-link-text"
              i18n="@@navBarAbout">ABOUT</span></a>
          <a routerLink="/people" [ngClass]="{hidden: loginPage}"><i class="fas fa-user navbar-link-icon" i18n-title="@@navBarPeopleTitle"
              title="PEOPLE"></i><span class="navbar-link-text" i18n="@@navBarPeople">PEOPLE</span></a>
          <button  [ngClass]="{hidden: loginPage}" class="btn btn-primary btn-sm btn-navbar-submit-story" id="stories" type="button"
            (click)="stories()"><i class="fas fa-book-open navbar-link-icon"
              i18n-title="@@navBarSubmitAStoryTitle" title="SUBMIT A STORY"></i><span class="navbar-link-text"
              i18n="@@navBarSubmitAStory">SUBMIT A
              STORY</span></button>
          <a routerLink="/contact" [ngClass]="{hidden: loginPage}" class="last"><i class="fas fa-phone navbar-link-icon"
              i18n-title="@@navBarContactTitle" title="CONTACT"></i><span class="navbar-link-text"
              i18n="@@navBarContact">CONTACT</span></a>
          <a (click)="authenticationService.googleLogin()" [ngClass]="{'hidden': authenticationService.admin}"
            *ngIf="currentPath == 'login'" i18n="@@navBarLogin">LOGIN</a>
          <a (click)="authenticationService.signOut()" [ngClass]="{'hidden': !authenticationService.admin}"
            *ngIf="currentPath == 'login'" i18n="@@navBarLogout">LOGOUT</a>
          <a (click)="manage()" id="manage" [ngClass]="{'disabled': !authenticationService.admin}"
            *ngIf="currentPath == 'login'" i18n="@@navBarManage" class="last">MANAGE</a>
          <span><a target="_blank" href="https://twitter.com/IMBISA" class="nav-icon twitter-icon"><i
                class="fab fa-twitter"></i></a></span>
          <span><a target="_blank"
              href="https://www.facebook.com/Imbisa-The-Inter-Regional-Meeting-of-the-Bishops-of-Southern-Africa-530311466984843/"
              class="nav-icon facebook-icon"><i class="fab fa-facebook-square"></i></a></span>
          <a href="https://imbisa.africa/en" class="flag-navbar-link"
            [ngClass]="{'selected': locale == 'en'}"><img class="uk-flag-image"
              src="assets/images/flags/UnitedKingdomFlag.jpg" /></a>
          <a href="https://imbisa.africa/pt" class="flag-navbar-link ignore"
            [ngClass]="{'selected': locale == 'pt'}"><img class="portugal-flag-image"
              src="assets/images/flags/PortugueseFlag.jpg" /></a>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class=" row sub-header collapse d-md-none" id="collapseSubHeader">
  <ul class="list-group list-group-flush w-100">
    <li class="list-group-item">
      <a routerLink="/home/start" i18n="@@navBarHome" class="first">HOME</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/about/start" i18n="@@navBarAbout">ABOUT</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/people" i18n="@@navBarPeople">PEOPLE</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/stories" i18n="@@navBarSubmitAStory">SUBMIT A STORY</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/contact" i18n="@@navBarContact" class="last">CONTACT</a>
    </li>
  </ul>
</div>