<div class="form-group" [formGroup]="form">
  <label i18n="@@editArticleLabelDocumentLinkDescription">Document Link Description</label>
  <input type="text" class="form-control" [formControlName]="descriptionId" i18n-placeholder="@@editArticleInputDocumentLinkDescription" placeholder="Document Link Description">
</div>
<div class="form-group" [formGroup]="form">
  <label i18n="@@editArticleLabelDocumentLinkUrl">Document Link Url</label>
  <input type="text" class="form-control" [formControlName]="urlId" i18n-placeholder="@@editArticleInputDocumentLinkUrl" placeholder="Document Link Url">
</div>
