<div class="input-group" [formGroup]="form">
  <input type="text" class="hidden" [formControlName]="model.id">
  <input type="file" #fileInput class="form-control" ng2FileSelect [uploader]="this.model.uploader"
    (change)="imageSelected()" accept=".jpg, .png, .jpeg" />
  <div class="input-group-append">
    <span class="input-group-text" [ngClass]="{'hidden': !currentImageName}">{{currentImageName}}</span>
    <button [ngClass]="{'hidden': !currentImageName}" i18n-title="@@imageUploaderDownload" title="Download" class="btn btn-outline-secondary"
      (click)="download()">
      <i class="fas fa-download"></i>
    </button>    
    <button i18n-title="@@imageUploaderClear" title="Clear" class="btn btn-outline-secondary"
      (click)="clearImageUpload()">
      <i class="fas fa-times"></i>
    </button>
  </div> 
</div>
<div class="input-group-error-message" [ngClass]="{hidden: form.controls[model.id].valid}" i18n="@@imageUploaderErrorMessage">Max file size: 2MB</div>