<div class="public-page mailing-list-margin-top">
  <div class="row background-color-primary">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-padding-top heading-bold text-center" i18n="@@homeMailingSectionTitle">
        Stay
        informed.
      </div>
      <div class="content content-width content-margin-bottom text-center sub-heading-secondary"
        i18n="@@homeMailingSectionSubTitle">Sign up
        to the IMBISA mailing list.
      </div>
      <div class="content content-width content-margin-bottom-last">
        <div class="row">
          <div class="col-sm">
            <form #subscriberForm="ngForm">
              <div class="input-group content-email">
                <input type="email" required class="form-control" i18n-placeholder="@@homeMailingSectionEmailAddress"
                  placeholder="email address" [(ngModel)]="email" name="email" email>
                <div class="input-group-append">
                  <button class="btn btn-secondary btn-margin-left" type="button" i18n="@@homeMailingSectionSubmit"
                    [disabled]="disableSubmit" (click)="saveSubscriber(subscriberForm.form.valid)">submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>