<app-admin-nav-bar></app-admin-nav-bar>
<div class="admin-page page-margin-top">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-padding-top content-margin-bottom heading border-bottom-primary"
        i18n="@@listArticlesHeadingSearch">Search</div>
      <div class="content content-width content-margin-bottom">
        <div class="form-group">
          <label i18n="@@listArticlesLabelTopic">Topic</label>
          <select class="form-control" [(ngModel)]="query.topic" (change)="listArticlesSearch()"
            [disabled]="queryService.searching">
            <option i18n="@@listArticlesTopicSearch" [value]="''">Filter by Topic</option>
            <option *ngFor="let topic of topicService.list" [value]="topic.name">{{topic.name}}
          </select>
        </div>
        <div class="form-group">
          <label i18n="@@listArticlesLabelCountry">Country</label>
          <select class="form-control" [(ngModel)]="query.region" (change)="listArticlesSearch()"
            [disabled]="queryService.searching">
            <option i18n="@@listArticlesCountrySearch" [value]="''">Filter by Country</option>
            <option *ngFor="let region of regionService.list" [value]="region.name">{{region.name}}
          </select>
        </div>
        <div class="form-group">
          <label i18n="@@listArticlesLabelDate">Date</label>
          <select class="form-control" [(ngModel)]="monthsService.currentMonthName" (change)="listArticlesChangeDate()"
            [disabled]="queryService.searching">
            <option i18n="@@listArticlesDateSearch" [value]="''">Filter by Date</option>
            <option *ngFor="let month of monthsService.months" [value]="month.name">{{month.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label i18n="@@listArticlesLabelVisibility">Visibility</label>
          <select class="form-control" [(ngModel)]="query.visibility" (change)="listArticlesSearch()">
            <option [value]="''" i18n="@@editArticleVisibilitySearch">Select Visibility</option>
            <option [value]="'Hidden'" i18n="@@editArticleVisibilityUnpublished">Unpublished</option>
            <option [value]="'PublicHidden'" i18n="@@editArticleVisibilityPublishedUnpublished">Published And
              Unpublished</option>
          </select>
        </div>
      </div>
      <div class="content content-width content-margin-bottom heading border-bottom-primary"
        i18n="@@listArticlesHeadingResults">Search Results</div>
      <div [ngClass]="{hidden: !queryService.searching}" class="content content-width content-margin-bottom-last">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div [ngClass]="{hidden: queryService.searching}">
        <div class="content content-width content-margin-bottom">
          <table class="table table-bordered tbl-list-articles">
            <thead>
              <tr>
                <th i18n="@@listArticlesColumnPublishDate">Publish Date</th>
                <th i18n="@@listArticlesColumnTopic">Topic</th>
                <th i18n="@@listArticlesColumnVisibility">Visibility</th>
                <th i18n="@@listArticlesColumnTitle">Article Headline</th>
                <th class="text-right" i18n="@@listArticlesColumnAction">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let article of queryService.queryDocuments">
                <td>{{article.publishDate | date}}</td>
                <td>{{article.topic}}</td>
                <td *ngIf="article.visibility">Public</td>
                <td *ngIf="!article.visibility">Hidden</td>
                <td>{{article.articleHeadline}}</td>
                <td>
                  <button i18n-title="@@listArticlesDeleteArticle" title="delete article"
                    class="btn btn-outline-secondary btn-sm btn-margin-left float-right"
                    (click)="deleteArticle(article)" [disabled]="article.disabled"><i class="fas fa-trash"></i></button>
                  <button i18n-title="@@listArticlesEditArticle" title="edit article"
                    class="btn btn-outline-secondary btn-sm float-right" (click)="editArticle(article)"><i
                      class="fas fa-edit"></i></button>
                </td>
              </tr>
              <tr *ngIf="queryService.queryDocuments.length == 0">
                <td colspan="100" class="text-center" i18n="@@listArticlesMessageNoArticles">No Articles</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="content content-width content-margin-bottom-last text-center">
          <button class="btn btn-secondary" type="button" i18n="@@listArticlesBackToTop" (click)="backToTop()"
            [ngClass]="{hidden: !queryService.queryDocuments.length}">back to top
          </button>
          <button class="btn btn-secondary" type="button" i18n="@@listArticlesNoMoreResults" disabled
            [ngClass]="{hidden: queryService.queryDocuments.length}">no more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="admin-footer"></app-footer>