<app-public-nav-bar></app-public-nav-bar>
<div class="public-page stories-top-image">
  <div class="image-overlay">
    <div class="absolute-center absolute-center-top-image stories-top-image-content">
      <div class="text-center">
        <div>
          <div class="image-block image-heading" i18n="@@storiesTopImageHeadingP1">
            SHARE YOUR STORY.
          </div>
        </div>
        <div>
          <div class="image-block image-heading" i18n="@@storiesTopImageHeadingP2">
            TODAY.
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="w-100" src="assets/images/header/Imbisa_SubmitYourStoryHeader.jpg">
</div>
<div class="public-page">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width">
        <div class="row border-bottom-primary">
          <div class="col-sm">
            <div class="content text-center stories-intro-content" i18n="@@storiesSubmittingStoryP1">
              We encourage writers from all contexts and with all levels of experience to submit stories, articles or
              opinions via the digital form below. You will find lots of useful info right here to help you do so. If
              you have any questions, please be in touch via our contact page. We look forward to hearing from you.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="content content-margin-bottom-last remove-margin-left remove-margin-right">
              <div class="accordion" id="accordionStories">
                <div class="card">
                  <div class="card-header collapsed bg-transparent sub-heading-primary"
                    i18n="@@storiesCanSubmitStoryHeading" data-toggle="collapse" data-target="#canSubmitStory">
                    Can I submit a story?
                  </div>
                  <div id="canSubmitStory" class="collapse" data-parent="#accordionStories">
                    <div class="card-body" i18n="@@storiesCanSubmitStoryContent">
                      Simple answer, “Yes!” Anyone can submit a story. There are no limits to who can submit. It may
                      interest
                      you to know that we get really excited when we get stories from lay people and from clergy. We
                      love the
                      combination of view points expressed by both groups. We also get excited to receive stories from
                      young
                      people and older people, both groups have unique perspectives and we’d love to share both with our
                      readers. Equally, we love stories from, women and from men. We love stories from rural
                      areas and big cities, and all the spaces in between. We encourage the widest possible range of
                      writers
                      to submit stories, and so today, we invite you in, to share your particular perspective with
                      Southern
                      Africa and the world.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed bg-transparent sub-heading-primary"
                    i18n="@@storiesWhatStoryAboutHeading" data-toggle="collapse" data-target="#whatStoryAbout">
                    What should my story or article be about?
                  </div>
                  <div id="whatStoryAbout" class="collapse" data-parent="#accordionStories">
                    <div class="card-body" i18n="@@storiesWhatStoryAboutContent">
                      Imbisa is an organisation of the Catholic Church. As such, our focus is on issues pertaining to
                      the
                      local Church in our member regions. We were formed to be a conduit of information between bishops
                      conferences so that communities and their Catholic leadership could express successes and
                      challenges and
                      benefit from insights and solutions from other areas facing similar issues.
                      It is however, not only issues and responses that we are after. We love news and updates from all
                      over the region. We also welcome opinions on topical matters. Imbisa can be a platform for
                      constructive
                      dialogue too, so if you would like to put forward a view and invite a variety of responses, we
                      would
                      welcome your submission.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed bg-transparent sub-heading-primary"
                    i18n="@@storiesWillItGetPublishedHeading" data-toggle="collapse" data-target="#willItGetPublished">
                    Will my story get published?
                  </div>
                  <div id="willItGetPublished" class="collapse" data-parent="#accordionStories">
                    <div class="card-body" i18n="@@storiesWillItGetPublishedContent">
                      Every submission is reviewed before a decision is made regarding its publication. We reserve the
                      right
                      to publish or not to publish your submission. We do however commit to responding to each
                      submission we
                      receive. In some cases we may invite you to edit or develop your article further before potential
                      publication on our site. There is a wide range of communication channels open to you if you would
                      like
                      to contact us for any reason.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed bg-transparent sub-heading-primary"
                    i18n="@@storiesWhatStoryIncludeHeading" data-toggle="collapse" data-target="#whatStoryInclude">
                    What must my story or article include?
                  </div>
                  <div id="whatStoryInclude" class="collapse" data-parent="#accordionStories">
                    <div class="card-body" i18n="@@storiesWhatStoryIncludeContent">
                      Your story must include a headline, a good quality image and a body of text between 50 and 5000
                      words. Your
                      submission will not be considered for publication unless these three elements are included.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed bg-transparent  sub-heading-primary"
                    i18n="@@storiesWhatWillIGainHeading" data-toggle="collapse" data-target="#whatWillIGain">
                    What will I gain?
                  </div>
                  <div id="whatWillIGain" class="collapse" data-parent="#accordionStories">
                    <div class="card-body" i18n="@@storiesWhatWillIGainContent">
                      There is no financial benefit to submitting a story. You will however become part of a growing
                      group of
                      conscious writers who care about advancing the good work of the Catholic community within Southern
                      Africa
                      and the world. Depending on your submissions you may be invited to submit additional articles, or
                      to
                      comment on others. You may find that through engagement on this platform, you are more informed
                      and
                      better
                      positioned to have an impactful voice in your local context. We hope you will share these stories
                      with
                      us
                      when they happen, as they will in turn inspire other readers to become contributors on this
                      important
                      platform.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content content-width content-margin-bottom-last text-center">
              <button class="btn btn-primary" type="button" i18n="@@storiesSubmitStoryHere" (click)="articles()">SUBMIT
                A STORY
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mailing-list></app-mailing-list>
<app-footer></app-footer>