<div class="hidden">
    <div id="editArticleSuccessfullySubmitted" i18n="@@editArticleSuccessfullySubmitted">
        Article successfully submitted.
    </div>
    <div id="editArticleInvalidForm" i18n="@@editArticleInvalidForm">
        Please fix the fields marked in red before saving the article.
    </div>
    <div id="listArticleDeleteFail" i18n="@@listArticleDeleteFail">
        Article could not be deleted.
    </div>
    <div id="listArticleConfirmDelete" i18n="@@listArticleConfirmDelete">
        Are you sure you want to delete the article?
    </div>
    <div id="listAdminOptionYes" i18n="@@listAdminOptionYes">
        Yes
    </div>
    <div id="listAdminOptionNo" i18n="@@listAdminOptionNo">
        No
    </div>
    <div id="monthLast6" i18n="@@monthLast6">
        Last 6 Months
    </div>
    <div id="monthJan" i18n="@@monthJan">
        January
    </div>
    <div id="monthFeb" i18n="@@monthFeb">
        February
    </div>
    <div id="monthMar" i18n="@@monthMar">
        March
    </div>
    <div id="monthApr" i18n="@@monthApr">
        April
    </div>
    <div id="monthMay" i18n="@@monthMay">
        May
    </div>
    <div id="monthJun" i18n="@@monthJun">
        June
    </div>
    <div id="monthJul" i18n="@@monthJul">
        July
    </div>
    <div id="monthAug" i18n="@@monthAug">
        August
    </div>
    <div id="monthSep" i18n="@@monthSep">
        September
    </div>
    <div id="monthOct" i18n="@@monthOct">
        October
    </div>
    <div id="monthNov" i18n="@@monthNov">
        November
    </div>
    <div id="monthDec" i18n="@@monthDec">
        December
    </div>
    <div id="listAdminChangeAdminFail" i18n="@@listAdminChangeAdminFail">
        Could not apply setting on user.
    </div>
    <div id="subcriberExists" i18n="@@subcriberExists">
        Subscriber already added to mailing list.
    </div>
    <div id="loginRequestExists" i18n="@@loginRequestExists">
        Login request already submitted.
    </div>
    <div id="invalidEmailAddress" i18n="@@invalidEmailAddress">
        Invalid email address.
    </div>
    <div id="listLookupSuccessfullySubmitted" i18n="@@listLookupSuccessfullySubmitted">
        Item successfully submitted.
    </div>
    <div id="loginRequestSuccessfullySubmitted">
        Login request successfully submitted. The email recipient will receive instructions on how to log on via email. An email will be sent to you once the user has logged on.  
    </div>
    <div id="listLookupConfirmDelete" i18n="@@listLookupConfirmDelete">
        Are you sure you want to delete the item?
    </div>
    <div id="listLookupDeleteFail" i18n="@@listLookupDeleteFail">
        Item could not be deleted.
    </div>
    <div id="listLookupItemAlreadyExists" i18n="@@listLookupItemAlreadyExists">
        Item already exists.
    </div>
    <div id="linksSuccessfullySubmitted" i18n="@@linksSuccessfullySubmitted">
        Links successfully submitted.
    </div>   
</div>
<router-outlet></router-outlet>