<div class="form-group" [formGroup]="form"  [ngClass]="{'invalid': this.form && this.form.get('topic') && this.form.get('topic').invalid}">
  <label i18n="@@editArticleLabelTopic">Topic</label>
  <ng-select *ngIf="topicService.list.length"
              [items]="topicService.list"
              bindLabel="name"
              bindValue="name"
              [multiple]="true"
              maxSelectedItems="5"
              i18n-placeholder="@@editArticleInputTopic"
              placeholder="Select Topics"
              clearAllText="Clear"
              formControlName="topic">
  </ng-select>
</div>
