<app-public-nav-bar></app-public-nav-bar>
<div class="admin-page page-margin-top">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-padding-top">
        <div class="alert alert-secondary"
          [ngClass]="{hidden: !articleService.prevArticleId || !authenticationService.admin}">
          <a (click)="prevArticle()" i18n="@@editArticleLoadPrevArticle">Load previous article</a>
        </div>
        <form [formGroup]="articleForm" [ngClass]="{submitted : submitted, hidden : viewArticle}">
          <div class="form-group">
            <label i18n="@@editArticleLabelAuthorName">Author Name</label>
            <input type="text" class="form-control" i18n-placeholder="@@editArticleInputAuthorName"
              placeholder="Author Name" formControlName="authorName" maxlength="75">
          </div>
          <div class="form-group"
            [ngClass]="{'invalid': this.articleForm && this.articleForm.get('author') && this.articleForm.get('author').invalid}">
            <label i18n="@@editArticleLabelAuthor">Author</label>
            <ng-select *ngIf="authorService.list.length" [items]="authorService.list" bindLabel="name" bindValue="name"
              [multiple]="true" maxSelectedItems="5" i18n-placeholder="@@editArticleInputAuthor"
              placeholder="Author Category" clearAllText="Clear" formControlName="author" (change)="setGender()">
            </ng-select>
          </div>
          <div class="form-group">
            <label i18n="@@editArticleLabelGender">Gender</label>
            <select class="form-control" formControlName="gender">
              <option [value]="''" i18n="@@editArticleGenderNone">Select Gender</option>
              <option [value]="'Male'" i18n="@@editArticleGenderMale">Male</option>
              <option [value]="'Female'" i18n="@@editArticleGenderFemale">Female</option>
              <option [value]="'Unspecified'" i18n="@@editArticleGenderUnspecified">Unspecified</option>
            </select>
          </div>
          <div class="form-group">
            <label i18n="@@editArticleLabelEmail">Email</label>
            <input type="email" class="form-control" i18n-placeholder="@@editArticleInputEmail" placeholder="Email"
              formControlName="email" maxlength="100">
          </div>
          <app-region-list [form]="articleForm"></app-region-list>
          <div *ngIf="authenticationService.admin">
            <app-visibility-list [form]="articleForm" (change)="changeVisibility()"></app-visibility-list>
            <app-topic-list [form]="articleForm"></app-topic-list>
            <app-document-link [form]="articleForm"></app-document-link>
            <app-publish-date [form]="articleForm"></app-publish-date>
          </div>
          <div class="content content-margin-bottom border-bottom-primary edit-article-divider"></div>
          <div class="form-group">
            <label i18n="@@editArticleLabelArticleHeadline">Article Headline</label>
            <input type="text" class="form-control" i18n-placeholder="@@editArticleInputArticleHeadline"
              placeholder="Article Headline" formControlName="articleHeadline" maxlength="250">
          </div>
          <div class="form-group">
            <label i18n="@@editArticleLabelArticleImage">Article Image</label>
            <app-image-uploader *ngIf="articleImageModel" [model]="articleImageModel" [form]="articleForm">
            </app-image-uploader>
          </div>
          <div class="form-group" *ngFor="let section of sections; index as i">
            <label class="hidden">
              <button i18n-title="@@editArticleToggleImageUploader" title="Image Uploader"
                class="btn btn-outline-secondary btn-sm btn-margin-right" (click)="toggleControl(section)">
                <i class="fas fa-image"></i>
              </button>
              <button i18n-title="@@editArticleToggleBold" title="Bold"
                class="btn btn-outline-secondary btn-sm btn-margin-right"
                [disabled]="section.content.indexOf('data:image') > -1" (click)="section.bold = !section.bold">
                <i class="fas fa-bold"></i>
              </button>
              <button i18n-title="@@editArticleToggleItalic" title="Italic"
                class="btn btn-outline-secondary btn-sm btn-margin-right"
                [disabled]="section.content.indexOf('data:image') > -1" (click)="section.italic = !section.italic">
                <i class="fas fa-italic"></i>
              </button>
              <button i18n-title="@@editArticleToggleLargeFont" title="Large Font"
                class="btn btn-outline-secondary btn-sm btn-margin-right"
                [disabled]="section.content.indexOf('data:image') > -1"
                (click)="section.fontSize = section.fontSize == '0.9rem' ? '2rem' : '0.9rem'">
                <i class="fas fa-heading"></i>
              </button>
              <button i18n-title="@@editArticleToggleColour" title="Colour"
                class="btn btn-outline-secondary btn-sm btn-margin-right"
                [disabled]="section.content.indexOf('data:image') > -1"
                (click)="section.color = section.color == 'bright-blue' ? 'dark-grey' : 'bright-blue'">
                <i class="fas fa-palette"></i>
              </button>
              <button i18n-title="@@editArticleMoveUp" title="Move Up"
                class="btn btn-outline-secondary btn-sm btn-margin-right" (click)="moveSectionUp(section)"
                [disabled]="i == 0">
                <i class="fas fa-arrow-up"></i>
              </button>
              <button i18n-title="@@editArticleMoveDown" title="Move Down"
                class="btn btn-outline-secondary btn-sm btn-margin-right" (click)="moveSectionDown(section)"
                [disabled]="i == sections.length - 1">
                <i class="fas fa-arrow-down"></i>
              </button>
              <button i18n-title="@@editArticleRemoveSection" title="Remove Section"
                class="btn btn-outline-secondary btn-sm" (click)="removeSection(section)"
                [disabled]="sections.length == 1">
                <i class="fas fa-trash"></i>
              </button>
            </label>
            <label i18n="@@editArticleLabelArticleBody">Article Body</label>
            <app-form-textarea *ngIf="section.content.indexOf('data:image') == -1" [section]="section"
              [form]="articleForm"></app-form-textarea>
            <app-image-uploader *ngIf="section.content.indexOf('data:image') > -1" [model]="section"
              [form]="articleForm"></app-image-uploader>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-view-article [article]="viewArticle" [sections]="sections" *ngIf="viewArticle"></app-view-article>
<div class="admin-page">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-margin-bottom-last text-center">
        <button i18n="@@editArticleView" class="btn btn-secondary btn-margin-right btn-view-article"
          (click)="toggleViewMode()" [disabled]="!articleForm.valid || disableViewMode"
          [ngClass]="{hidden: !authenticationService.admin || viewArticle}">view article</button>
        <button i18n="@@editArticleGoBack" class="btn btn-secondary btn-margin-right btn-view-article"
          (click)="toggleViewMode()"
          [ngClass]="{hidden: !authenticationService.admin || !viewArticle}">go back</button>          
        <button i18n="@@editArticlePublishArticle" class="btn btn-secondary btn-submit-review"
          [ngClass]="{hidden: !displayPublishArticleButton}"
          (click)="save(articleForm.valid)" [disabled]="disableSubmit || (!new && !authenticationService.admin)">publish article</button>
        <button i18n="@@editArticleSubmitForReview" class="btn btn-secondary btn-submit-review"
          [ngClass]="{hidden: !displaySubmitForReviewButton}"
          (click)="save(articleForm.valid)" [disabled]="disableSubmit || (!new && !authenticationService.admin)">submit for review</button>
        <!--<button i18n-title="@@editArticleAddSection" title="Add Section"
          class="btn btn-secondary float-right btn-margin-right" (click)="addSection(null)"><i
            class="fas fa-plus"></i></button>-->
      </div>
    </div>
  </div>
</div>
<app-mailing-list></app-mailing-list>
<app-footer></app-footer>