<div class="row header">
  <div class="col-lg-1 d-none d-lg-block">
  </div>
  <div class="col-sm-12 col-lg-10">
    <div class="float-left center-container">
      <div class="absolute-center absolute-center-logo">
        <a routerLink="/home/start" title="Imbisa">
          <img src="assets/ImbisaLogo.png" alt="Imbisa">
        </a>
      </div>
    </div>
    <div class="float-right center-container center-container-nav">
      <div class="absolute-center absolute-center-nav">
        <nav class="float-right">
          <a routerLink="/articles" i18n="@@navBarArticles" class="first">ARTICLES</a>
          <a routerLink="/administrators" i18n="@@navBarAdministrators">ADMINISTRATORS</a>
          <a routerLink="/subscribers" i18n="@@navBarSubscribers">SUBSCRIBERS</a>
          <a routerLink="/lookups" i18n="@@navBarLookups">LOOKUPS</a>
          <a routerLink="/links" i18n="@@navBarLinks">LINKS</a>
          <a (click)="authenticationService.signOut()" i18n="@@navBarLogout">LOGOUT</a>                  
        </nav>
      </div>
    </div>
  </div>
</div>
