<app-public-nav-bar></app-public-nav-bar>
<div class="public-page people-top-image">
  <div class="image-overlay">
    <div class="absolute-center absolute-center-top-image people-top-image-content">
      <div class="text-center">
        <div>
          <div class="image-block image-heading" i18n="@@peopleTopImageHeadingP1">
            YOU ARE IMBISA
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="w-100" src="assets/images/header/Imbisa_PeopleHeader.jpg">
</div>
<div class="public-page">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width">
        <div class="row border-bottom-primary">
          <div class="col-sm">
            <div class="content text-center people-intro-content" i18n="@@peopleIntroContent">
              You are Imbisa. I am Imbisa. We are Imbisa. We are all a part of this vast community that exists to serve
              each other. We are a diverse, faith filled and hopeful people ably lead by all our Catholic Bishops. We
              have featured those whose current roles are of particular significance within the Imbisa structure.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width">
        <div class="heading-content people-heading remove-margin-left" i18n="@@peopleHeadingKeyRolePlayers">Key Role
          Players</div>
        <div class="row">
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Lucio.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold" i18n="@@peopleTitleLucio">IMBISA President</div>
              <div class="bold heading-primary" i18n="@@peopleNameLucio">Bishop Lucio Andrice Muandula</div>
              <div i18n="@@peopleContentLucio">Episcopal Conference of Mozambique (CEM)</div>
              <div i18n="@@peopleOriginLucio">Bishop of Xai Xai, Mozambique</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornLucio">October
                  1959</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedLucio">24 October
                  2004</span></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Liborius.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold" i18n="@@peopleTitleLiborius">IMBISA Vice President</div>
              <div class="bold heading-primary" i18n="@@peopleNameLiborius">Archbishop Liborius Ndumbukuti Nashenda,
                O.M.I. </div>
              <div i18n="@@peopleContentLiborius">Namibian Catholic Bishops Conference (NCBC)</div>
              <div i18n="@@peopleOriginLiborius">Archbishop of Windhoek, Namibia </div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornLiborius">7
                  April 1959</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedLiborius">7 February
                  1999</span></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Robert.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold" i18n="@@peopleTitleRobert">IMBISA Secretary General</div>
              <div class="bold heading-primary" i18n="@@peopleNameRobert">Archbishop Robert Christopher Ndlovu</div>
              <div i18n="@@peopleContentRobert">Zimbabwe Catholic Bishops Conference (ZCBC)</div>
              <div i18n="@@peopleOriginRobert">Archbishop of Harare, Zimbabwe</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornRobert">25
                  December 1955</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedRobert">9 May 1999</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Jose.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold" i18n="@@peopleTitleJose">IMBISA Media and Communications</div>
              <div class="bold heading-primary" i18n="@@peopleNameJose">Bishop José Luís Ponce de León IMC</div>
              <div i18n="@@peopleContentJose">Southern African Catholic Bishops Conference (SACBC)</div>
              <div i18n="@@peopleOriginJose">Bishop of Manzini, Eswatini </div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornJose">8 May
                  1961</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedJose">18 April
                  2009</span></div>
            </div>
          </div>
        </div>
        <div class="people-divider remove-margin-left remove-margin-right"></div>
        <div class="heading-content people-heading remove-margin-left" i18n="@@peopleHeadingSecretariate">Secretariate
        </div>

        <div class="row secretariate-margin-bottom d-none d-md-flex">
          <div class="col-sm-3">
            <div class="people-image remove-margin-left">
              <img class="secretariate-image" src="assets/images/people/Brenda.png" />
            </div>
          </div>
          <div class="col-sm-9">
            <div class="vertical-center-container">
              <div class="vertical-center secretariate-section remove-margin-right">
                <div class="bold" i18n="@@peopleTitleBrenda">IMBISA Programs Officer</div>
                <div class="bold heading-primary" i18n="@@peopleNameBrenda">Brenda Gwasira</div>
                <div>
                  <span class="bold" i18n="@@peopleFromTitle">From:</span>
                  &nbsp;
                  <span i18n="@@peopleOriginBrenda">Mashonaland East province: Murehwa, Zimbabwe</span>
                  &nbsp;
                  <span>|</span>
                  &nbsp;
                  <span class="bold" i18n="@@peopleBornTitle">Born:</span>
                  &nbsp;
                  <span i18n="@@peopleBornBrenda">10 December 1984</span>
                </div>
                <div i18n="@@peopleContentBrenda" class="secretariat-content">
                  “The Bishops of IMBISA place high value on their community. They want everyone to learn, grow and
                  innovate. IMBISA is a community of love and the Bishops challenge, encourage and serve each other. It
                  is really amazing to work alongside them, and to witness how much they really care about us.”
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row secretariate-margin-bottom d-none d-md-flex">
          <div class="col-sm-3">
            <div class="people-image remove-margin-left">
              <img class="secretariate-image" src="assets/images/people/Nyasha.png" />
            </div>
          </div>
          <div class="col-sm-9">
            <div class="vertical-center-container">
              <div class="vertical-center secretariate-section remove-margin-right">
                <div class="bold" i18n="@@peopleTitleNyasha">IMBISA Finance and Administration</div>
                <div class="bold heading-primary" i18n="@@peopleNameNyasha">Noreen Nyasha Chinogara</div>
                <div>
                  <span class="bold" i18n="@@peopleFromTitle">From:</span>
                  &nbsp;
                  <span i18n="@@peopleOriginNyasha">Mutare, Zimbabwe</span>
                  &nbsp;
                  <span>|</span>
                  &nbsp;
                  <span class="bold" i18n="@@peopleBornTitle">Born:</span>
                  &nbsp;
                  <span i18n="@@peopleBornNyasha">19 November 1989</span>
                </div>
                <div i18n="@@peopleContentNyasha" class="secretariat-content">
                  “IMBISA is an exciting place to work. It is like the Catholic heart of the whole Southern African
                  region. We experience the diversity and richness of all the cultures and nationalities that make up
                  IMBISA. I am so happy about this new website because it offers a practical meeting point for everyone
                  to share in, and contribute to this wonderful community of Southern Africans.”
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row secretariate-margin-bottom d-none d-md-flex">
          <div class="col-sm-3">
            <div class="people-image remove-margin-left">
              <img class="secretariate-image" src="assets/images/people/Dumisani.png" />
            </div>
          </div>
          <div class="col-sm-9">
            <div class="vertical-center-container">
              <div class="vertical-center secretariate-section remove-margin-right">
                <div class="bold" i18n="@@peopleTitleDumisani">Director of the IMBISA Secretariat</div>
                <div class="bold heading-primary" i18n="@@peopleNameDumisani">Fr. Dumisani Benedict Vilakati</div>
                <div>
                  <span class="bold" i18n="@@peopleFromTitle">From:</span>
                  &nbsp;
                  <span i18n="@@peopleOriginDumisani">Manzini, Eswatini</span>
                  &nbsp;
                  <span>|</span>
                  &nbsp;
                  <span class="bold" i18n="@@peopleBornTitle">Born:</span>
                  &nbsp;
                  <span i18n="@@peopleBornDumisani">25 February 1977</span>
                </div>
                <div i18n="@@peopleContentDumisani" class="secretariat-content">
                  “It is an honour to be an active member of IMBISA at this time of growth and innovation. Together with
                  all others involved, I share a great vision of constructive clerical and lay dialogue. I feel enriched
                  by this refreshed prospect which, even now, fifty five years after Vatican ii is still taking root in
                  all of our minds, hearts and communities.”
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row d-md-none">
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Brenda.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold" i18n="@@peopleTitleBrenda">IMBISA Programs Officer</div>
              <div class="bold heading-primary" i18n="@@peopleNameBrenda">Brenda Gwasira</div>
              <div i18n="@@peopleContentBrenda" class="secretariat-content">
                “The Bishops of IMBISA place high value on their community. They want everyone to learn, grow and
                innovate. IMBISA is a community of love and the Bishops challenge, encourage and serve each other. It is
                really amazing to work alongside them, and to witness how much they really care about us.”
              </div>
              <div i18n="@@peopleOriginBrenda">Mashonaland East province: Murehwa, Zimbabwe</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornBrenda">10
                  December 1984</span></div>
              <div></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Nyasha.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold" i18n="@@peopleTitleNyasha">IMBISA Finance and Administration</div>
              <div class="bold heading-primary" i18n="@@peopleNameNyasha">Noreen Nyasha Chinogara</div>
              <div i18n="@@peopleContentNyasha" class="secretariat-content">
                “IMBISA is an exciting place to work. It is like the Catholic heart of the whole Southern African
                region. We experience the diversity and richness of all the cultures and nationalities that make up
                IMBISA. I am so happy about this new website because it offers a practical meeting point for everyone to
                share in, and contribute to this wonderful community of Southern Africans.”
              </div>
              <div i18n="@@peopleOriginNyasha">Mutare, Zimbabwe</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornNyasha">19
                  November 1989</span></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="row d-md-none">
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Dumisani.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold" i18n="@@peopleTitleDumisani">Director of the IMBISA Secretariat</div>
              <div class="bold heading-primary" i18n="@@peopleNameDumisani">Fr. Dumisani Benedict Vilakati</div>
              <div i18n="@@peopleContentDumisani" class="secretariat-content">
                “It is an honour to be an active member of IMBISA at this time of growth and innovation. Together with
                all others involved, I share a great vision of constructive clerical and lay dialogue. I feel enriched
                by this refreshed prospect which, even now, fifty five years after Vatican ii is still taking root in
                all of our minds, hearts and communities.”
              </div>
              <div i18n="@@peopleOriginDumisani">Manzini, Eswatini</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornDumisani">25
                  February 1977</span></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="people-divider remove-margin-left remove-margin-right"></div>
        <div class="heading-content people-heading remove-margin-left" i18n="@@peopleHeadingRegionRepresentatives">
          Region Representatives</div>
        <div class="row">
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Estanislau.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold heading-primary" i18n="@@peopleNameEstanislau">Bishop Estanislau Marques Chindekasse,
                S.V.D.</div>
              <div i18n="@@peopleContentEstanislau">Episcopal Conference of Angola and Sao Tome (CEAST)</div>
              <div i18n="@@peopleOriginEstanislau">Bishop of Dundo, Angola</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornEstanislau">18
                  August 1958</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedEstanislau">3 March
                  2013</span></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/William.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold heading-primary" i18n="@@peopleNameWillem">Bishop Willem Christiaans, O.S.F.S.</div>
              <div i18n="@@peopleContentWillem">Namibian Catholic Bishops Conference (NCBC) </div>
              <div i18n="@@peopleOriginWillem">Bishop of Keetmanshoop, Namibia</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornWillem">12
                  February 1961</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedWillem">5 May 2018</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Antonio.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold heading-primary" i18n="@@peopleNameAntonio">Bishop António Juliasse Ferreira Sandramo
              </div>
              <div i18n="@@peopleContentAntonio">Episcopal Conference of Mozambique (CEM)</div>
              <div i18n="@@peopleOriginAntonio">Auxiliary Bishop of Maputo, Mozambique</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornAntonio">20
                  March 1968</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedAntonio">17 February
                  2019</span></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Pius.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold heading-primary" i18n="@@peopleNamePius">Bishop Pius Mlungisi Dlungwane</div>
              <div i18n="@@peopleContentPius">Southern African Catholic Bishops Conference (SACBC)</div>
              <div i18n="@@peopleOriginPius">Bishop of Mariannhill, South Africa</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornPius">13
                  October 1947</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedPius">6 August
                  2000</span></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Joseph.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold heading-primary" i18n="@@peopleNameJoseph">Bishop Joseph Mopeli Sephamola, O.M.I.</div>
              <div i18n="@@peopleContentJoseph">Lesotho Catholic Bishops Conference (LCBC) </div>
              <div i18n="@@peopleOriginJoseph">Bishop of Qacha’s Nek, Lesotho</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornJoseph">14
                  March 1960</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedJoseph">21 September
                  2013</span></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="people-image remove-margin-left">
              <img class="w-50" src="assets/images/people/Rudolf.png">
            </div>
            <div class="people-section remove-margin-left">
              <div class="bold heading-primary" i18n="@@peopleNameRudolf">Bishop Rudolf Nyandoro</div>
              <div i18n="@@peopleContentRudolf">Zimbabwe Catholic Bishops Conference (ZCBC)</div>
              <div i18n="@@peopleOriginRudolf">Bishop of Gokwe, Zimbabwe</div>
              <div><span class="bold" i18n="@@peopleBornTitle">Born:</span>&nbsp;<span i18n="@@peopleBornRudolph">11
                  October 1968</span></div>
              <div><span class="bold" i18n="@@peopleOrdainedTitle">Ordained Bishop:</span>&nbsp;<span
                  i18n="@@peopleOrdainedRudolph">29 April
                  2017</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mailing-list></app-mailing-list>
<app-footer></app-footer>