<app-admin-nav-bar></app-admin-nav-bar>
<div class="admin-page page-margin-top">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-padding-top content-margin-bottom">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#authors" i18n="@@listLookupTabAuthor">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#regions" i18n="@@listLookupTabCountry">Countries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#topics" i18n="@@listLookupTabTopic">Topics</a>
          </li>
        </ul>
      </div>
      <div class="content content-width content-margin-bottom-last">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="authors">
            <app-list-lookup [service]="authorService"></app-list-lookup>
          </div>
          <div class="tab-pane fade" id="regions">
            <app-list-lookup [service]="regionService"></app-list-lookup>
          </div>
          <div class="tab-pane fade" id="topics">
            <app-list-lookup [service]="topicService"></app-list-lookup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="admin-footer"></app-footer>