<div class="form-group" [ngClass]="{'hidden': disableAdd}">
  <label i18n="@@listLookupLabelNewItem">New Item</label>
  <div class="input-group">
      <input type="text" class="form-control" i18n-placeholder="@@listLookupInputNewItem" placeholder="New Item"
      [(ngModel)]="name" maxlength="75"/>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="save()" [disabled]="!name"><i class="fas fa-plus"></i></button>
    </div>
  </div>
</div>
<table class="table table-bordered tbl-lookup">
  <thead>
    <tr>
      <th i18n="@@listLookupColumnName" [ngClass]="{'hidden': firstColumnName !== 'Name'}">Name</th>
      <th i18n="@@listLookupColumnEmail" [ngClass]="{'hidden': firstColumnName !== 'Email'}">Email</th>
      <th class="text-right" i18n="@@listLookupColumnAction">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lookupService.list">
      <td>{{item.name}}</td>
      <td>
        <button i18n-title="@@listLookupDelete" title="delete item" class="btn btn-outline-secondary btn-sm float-right"
          (click)="delete(item)" [disabled]="item.disabled"><i class="fas fa-trash"></i></button>
      </td>
    </tr>
    <tr *ngIf="lookupService.list.length == 0">
      <td colspan="100" class="text-center" i18n="@@lookupsMessageNoItems">No Items</td>
    </tr>
  </tbody>
</table>