/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Antwerp_Bold;
  src: url("assets/font/Antwerp/Antwerp_Bold.otf") format("opentype");
}

@font-face {
  font-family: Antwerp_Light;
  src: url("assets/font/Antwerp/Antwerp_Light.otf") format("opentype");
}

@font-face {
  font-family: Antwerp_LightItalic;
  src: url("assets/font/Antwerp/Antwerp_LightItalic.otf") format("opentype");
}

@font-face {
  font-family: Antwerp_Bold;
  src: url("assets/font/Gotham/Gotham-Black.otf") format("opentype");
}

@font-face {
  font-family: Gotham-BlackItalic;
  src: url("assets/font/Gotham/Gotham-BlackItalic.otf") format("opentype");
}

@font-face {
  font-family: Gotham-Bold;
  src: url("assets/font/Gotham/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: Gotham-BoldItalic;
  src: url("assets/font/Gotham/Gotham-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: Gotham-Book;
  src: url("assets/font/Gotham/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: Gotham-BookItalic;
  src: url("assets/font/Gotham/Gotham-BookItalic.otf") format("opentype");
}

@font-face {
  font-family: Gotham-Light;
  src: url("assets/font/Gotham/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: Gotham-LightItalic;
  src: url("assets/font/Gotham/Gotham-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: Gotham-Medium;
  src: url("assets/font/Gotham/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: Gotham-MediumItalic;
  src: url("assets/font/Gotham/Gotham-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: Gotham-Thin;
  src: url("assets/font/Gotham/Gotham-Thin.otf") format("opentype");
}

@font-face {
  font-family: Gotham-ThinItalic;
  src: url("assets/font/Gotham/Gotham-ThinItalic.otf") format("opentype");
}

@font-face {
  font-family: Gotham-Ultra;
  src: url("assets/font/Gotham/Gotham-Ultra.otf") format("opentype");
}

@font-face {
  font-family: Gotham-UltraItalic;
  src: url("assets/font/Gotham/Gotham-UltraItalic.otf") format("opentype");
}

@font-face {
  font-family: Gotham-XLight;
  src: url("assets/font/Gotham/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: Gotham-XLightItalic;
  src: url("assets/font/Gotham/Gotham-XLightItalic.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-Bold;
  src: url("assets/font/MyriadPro/MyriadPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-BoldCond;
  src: url("assets/font/MyriadPro/MyriadPro-BoldCond.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-BoldCondIt;
  src: url("assets/font/MyriadPro/MyriadPro-BoldCondIt.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-BoldIt;
  src: url("assets/font/MyriadPro/MyriadPro-BoldIt.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-Cond;
  src: url("assets/font/MyriadPro/MyriadPro-Cond.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-CondIt;
  src: url("assets/font/MyriadPro/MyriadPro-CondIt.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-It;
  src: url("assets/font/MyriadPro/MyriadPro-It.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url("assets/font/MyriadPro/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-Semibold;
  src: url("assets/font/MyriadPro/MyriadPro-Semibold.otf") format("opentype");
}

@font-face {
  font-family: MyriadPro-SemiboldIt;
  src: url("assets/font/MyriadPro/MyriadPro-SemiboldIt.otf") format("opentype");
}

.container-fluid {
  font-family: Gotham-Light;
}

.header {
  height: 8rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
  border-bottom-width: 0.05rem;
  border-bottom-color: #231f20;
  border-bottom-style: solid;
}

.sub-header {
  position: fixed;
  top: 8rem;
  width: 100%;
  z-index: 3;
}

.sub-header .list-group-item {
  background-color: #00aeef;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: .875rem;
}

.sub-header .list-group-item a {
  color: white;
}

.header nav>a {
  cursor: pointer;
  font-size: 0.9rem;
}

.header nav>a, .secondary-color {
  color: #231f20;
}

.header nav>a.active, .header nav>a:hover, a:not(.contact-link):hover {
  font-family: Gotham-Bold;
  text-decoration: none !important;
}

.header nav span a:hover {
  font-weight: bold;
}

.header nav>a:not(.first):not(.ignore) {
  margin-left: 2rem;
}

.header nav>button {
  margin-left: 2rem;
}

.header nav>a.last {
  padding-right: 2rem;
}

.header nav .twitter-icon {
  border-left-color: #231f20;
  border-left-style: solid;
  border-left-width: 0.05rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #231f20;
}

.header nav .nav-icon {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.header nav .facebook-icon {
  border-right-color: #231f20;
  border-right-style: solid;
  border-right-width: 0.05rem;
  padding-right: 1rem;
  color: #231f20;
}

.center-container-nav {
  width: 70rem;
}

.center-container {
  position: relative;
  height: 100%;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.absolute-center-nav {
  height: 20%;
}

.absolute-center-logo {
  height: 60%;
}

.absolute-center-logo img {
  width: 13.5rem;
}

.absolute-center-top-image>div {
  vertical-align: middle;
}

.image-overlay {
  position: absolute;
  width: 98vw;
  height: 55.5vw;
}

.about-image-overlay {
  position: absolute;
  width: 98vw;
  height: 43vw;
}

.top-image {
  margin-top: 8rem;
  margin-bottom: 3.5rem;
  margin-left: -15px;
  margin-right: -15px;
}

.about-top-image, .stories-top-image, .people-top-image {
  margin-top: 8rem;
  margin-left: -15px;
  margin-right: -15px;
}

.image-block, .content-block {
  background-color: #00aeef;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 0.8;
  padding-top:0.25rem;
  padding-bottom:0.25rem;
  font-weight: bold;
}

.public-page .about-image {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 3.5rem;
}

.content, .footer-content {
  margin: auto;
}

@media (max-width: 576px) {
  .footer {
    display: none;
  }
  .heading-bold {
    font-size: 1.2rem;
  }
  .article-heading {
    font-size: 1.2rem;
  }
  .article-border {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
  .home-top-image-content {
    height: 10.5rem;
  }
  .about-first-top-image-content, .stories-top-image-content, .contact-top-image-content {
    height: 3.8rem;
  } 
  .public-page .heading-content {
    margin-top: 1rem;
    text-align: center;
  }
  .about-second-top-image-content {
    height: 1rem;
  }
  .people-top-image-content {
    height: 6rem;
  }
  .contact-top-image-content > .text-center{
    margin-top: 3rem;
  }  
  .people-image img {
    margin-left: 25%;
  }
  .public-page .people-section {
    text-align: center;
  }
  .article-section-sm {
    padding: 1rem;
  }
  .about-intro-content, .stories-intro-content, .people-intro-content {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .public-page .btn-submit-story {
    margin-top: 1rem;
  }
  .view-article-share {
    text-align: center;
  }
  .modal .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
  }
  .modal .modal-content {
    height: 100%;
  }
}

@media (min-width: 577px) {
  .remove-margin-left {
    margin-left: -15px;
  }
  .remove-margin-right {
    margin-right: -15px;
  }
  .article-heading {
    font-size: 1.5rem;
  }
  .heading-bold {
    font-size: 2.5rem;
  }
  .home-top-image-content {
    height: 20.5rem;
  }
  .public-page .image-heading, .public-page .content-heading {
    font-size: 2rem;
  }
  .public-page .image-heading-bold {
    font-size: 2.5rem;
  }
  .public-page .image-heading-bold-sm {
    font-size: 2rem;
  }
  .public-page .sub-heading-secondary {
    font-size: 2rem;
  }
  .public-page .content-email {
    width: 55%;
  }
  .people-top-image-content {
    height: 11rem;
  }
  .contact-top-image-content > .text-center{
    margin-top: 8rem;
  }  
  .image-block, .content-block {
    font-size: 2rem;
  }
  .about-first-top-image-content, .stories-top-image-content, .contact-top-image-content {
    height: 7rem;
  }
  .about-intro-content, .stories-intro-content, .people-intro-content {
    font-size: 1.5rem;
  }
  .about-second-top-image-content {
    height: 2.5rem;
  }
  .public-page .people-section {
    padding-left: 7rem;
  }
  .article-section-sm {
    padding: 1rem 2rem;
  }
  .about-intro-content, .stories-intro-content, .people-intro-content {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .public-page .sub-heading-primary {
    font-size: 2rem;
  }
  .public-page .btn-submit-story {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .content.content-width, .footer-content-width {
    max-width: 40rem;
  }
}

@media (max-width: 991px) {
  .header nav>a {
    font-size: 1.2rem;
  }
  .center-container-nav {
    margin-right: 3.5rem;
  }
}

@media (min-width: 992px) {
  .content.content-width, .footer-content-width {
    max-width: 56.25rem;
  }
  .center-container-nav {
    margin-right: -15px;
  }
  .people-top-image-content {
    height: 18rem;
  }
  .home-top-image-content {
    height: 25rem;
  }
  .public-page .image-heading, .public-page .content-heading {
    font-size: 2.5rem;
  }
  .public-page .image-heading-bold {
    font-size: 3rem;
  }
  .public-page .image-heading-bold-sm {
    font-size: 2.5rem;
  }
}

.public-page  .navbar-link-icon{
  font-size: 1.2rem;
}

@media (max-width: 1176px) {
  .public-page .navbar-link-text{
    display: none !important;
  }  
}

@media (min-width: 1177px) {
  .public-page .navbar-link-icon{
    display: none !important;
  }  
}

.btn-navbar {
  margin-top: 3rem;
}

.content.content-padding-top {
  padding-top: 3.5rem;
}

.content.content-margin-bottom {
  margin-bottom: 1.6rem;
}

.content.content-margin-bottom-last {
  margin-bottom: 3.5rem;
}

.content.content-padding-bottom-last {
  padding-bottom: 3.5rem;
}

.public-page .line-height {
  line-height: 1.5rem;
}

.public-page .sub-heading-secondary {
  color: white;
  font-family: Antwerp_Light;
}

.public-page .sub-heading-primary {
  color: #00aeef;
  font-family: Antwerp_Light;
}

.public-page .image-heading, .public-page .content-heading {
  font-family: Gotham-Thin;
  color: white;
}

.public-page .image-heading-bold {
  font-family: Gotham-Bold;
  color: white;
}

.public-page .image-heading-bold-sm {
  font-family: Gotham-Bold;
  color: white;
}

.public-page .heading {
  font-size: 2rem;
  font-family: Gotham-Thin;
  color: white;
}

.heading-bold {
  font-family: Gotham-Bold;
  color: white;
}

.public-page .heading-primary {
  color: #00aeef;
}

.public-page .heading-content {
  color: #00aeef;
  font-family: Gotham-Bold;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.public-page .content-select, .public-page .content-search .form-control, .public-page .content-search .btn-search {
  background-color: white !important;
  border-color: white !important;
  box-shadow: none !important;
  border-bottom-color: #00aeef !important;
  border-bottom-style: solid !important;
  border-bottom-width: 0.05rem !important;
  border-radius: 0rem !important;
  padding-left: 0rem !important;
}

.public-page .content-select:not([disabled]), .public-page .content-search .form-control:not([disabled]), .public-page .content-search .btn-search:not([disabled]) {
  color: #231f20;
}

.public-page .btn.btn-secondary, .admin-page .btn.btn-submit-review, .admin-page .btn.btn-view-article {
  background-color: #231f20;
  border-color: #231f20;
  border-radius: 0rem !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.public-page .btn.btn-primary {
  background-color: #00aeef;
  border-color: #00aeef;
  border-radius: 0rem !important;
}

.public-page .btn.btn-primary:not(.btn-sm) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.public-page .form-control:not([disabled])::placeholder {
  color: #231f20;
}

.public-page .background-color-primary {
  background-color: #00aeef;
}

.public-page .content-email {
  margin: auto;
}

.public-page .btn-margin-left, .admin-page .btn-margin-left {
  margin-left: 1rem;
}

.public-page .border-bottom-blue {
  border-bottom-color: #00aeef !important;
  border-bottom-style: solid !important;
  border-bottom-width: 0.05rem !important;
}

.public-page .content-email .form-control {
  color: #231f20;
  background-color: #00aeef !important;
  border-color: #00aeef !important;
  box-shadow: none !important;
  border-bottom-color: white !important;
  border-bottom-style: solid !important;
  border-bottom-width: 0.05rem !important;
  border-radius: 0rem !important;
  padding-left: 0rem;
}

.footer {
  height: 20rem;
  background-color: #231f20;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  padding-top: 4.72rem;
}

.footer-cell {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer-description {
  margin-top: 0.2rem;
}

.footer-header {
  font-family: Gotham-Medium;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5em;
}

.footer-line-height {
  line-height: 1.3rem;
}

.footer-cell a.blue-link, .footer-cell a:hover.blue-link, .footer .footer-icon, .footer .footer-icon:hover {
  color: #00aeef;
}

.footer-cell a, .footer-cell a:hover {
  color: white;
}

.footer .footer-icon-section {
  margin-top: 1rem;
}

.footer .footer-icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.header .btn-navbar-submit-story:hover, .header .btn-navbar-submit-story.selected {
  font-family: Gotham-Bold;
  padding-left: 0.438rem;
}

.link-submit-story {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.admin-page .btn-margin-right {
  margin-right: 0.5rem;
}

.public-page .bold, .admin-page .bold {
  font-family: Gotham-Bold;
}

.public-page .italic, .admin-page .italic {
  font-style: italic;
}

.admin-page form.submitted .form-control.ng-invalid, .admin-page .form-control.ng-touched.ng-invalid, .admin-page form.submitted .form-group.invalid .ng-select-container {
  border-color: red;
  border-width: 0.1rem;
}

.admin-page input.ng-invalid+input[type="file"] {
  border-color: red;
  border-width: 0.1rem;
}

.admin-page a, .admin-page a:hover {
  cursor: pointer;
  color: #231f20;
}

.page-margin-top {
  margin-top: 8rem;
}

.bright-blue {
  color: #00aeef !important;
}

.dark-grey {
  color: #231f20 !important;
}

a:not([href]):not([tabindex]).disabled {
  pointer-events: none;
  cursor: default;
  color: lightgray;
}

.btn-search {
  cursor: pointer;
}

.article-border {
  border-width: 0.05rem;
  border-color: #231f20;
  border-style: solid;
  cursor: pointer;
}

.article-left-margin {
  margin-left: -15px;
}

.article-right-margin {
  margin-right: -15px;
}

.article-bottom-margin {
  margin-bottom: 15px;
}

.article-section {
  padding: 1rem;
}

.article-heading {
  font-family: Antwerp_Light;
  margin-bottom: 1rem;
}

.article-heading-margin-bottom {
  margin-bottom: 8rem;
}

.article-sub-heading {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
}

.article-sub-heading-border-top, .view-article-sub-heading-border-top {
  border-top-color: #00aeef;
  border-top-style: solid;
  border-top-width: 0.05rem;
}

.article-sub-heading-border-top {
  padding-top: 0.5rem;
}

.view-article-sub-heading-border-top {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.view-article-share {
  font-size: 0.9rem;
  padding-top: 1.5rem;
  line-height: 1.25;
}

.article-sub-heading-left {
  left: 2rem;
}

.article-sub-heading-right {
  right: 2rem;
}

.article-height {
  height: 100%;
}

.article-author {
  padding-left: 1rem;
}

.admin-page .heading {
  font-size: 2rem;
}

.admin-page .border-bottom-primary, .public-page .border-bottom-primary {
  border-bottom-width: 0.05rem;
  border-bottom-color: #231f20;
  border-bottom-style: solid;
}

.view-article-divider {
  margin-bottom: 3.5rem;
}

.about-divider, .people-divider {
  border-bottom-width: 0.07rem;
  border-bottom-color: #231f20;
  border-bottom-style: solid;
}

.about-divider {
  padding-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.view-article-image {
  margin-bottom: 1.6rem;
}

.view-article-heading {
  font-size: 2rem;
  font-family: Antwerp_Light;
  margin-bottom: 3.5rem;
}

.view-article-body {
  line-height: 1.25;
}

.public-page .accordion .card {
  border-radius: 0;
  border: none;
}

.public-page .accordion .card-header {
  border-radius: 0;
  border: none;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.public-page .accordion .card-header.collapsed {
  border-bottom-color: #231f20 !important;
  border-bottom-style: solid !important;
  border-bottom-width: 0.07rem !important;
}

.public-page .accordion .card-body {
  padding-top: 0rem;
  padding-bottom: 1.5rem;
  border-bottom-color: #231f20 !important;
  border-bottom-style: solid !important;
  border-bottom-width: 0.05rem !important;
}

.edit-article-divider {
  padding-top: 0.6rem;
}

.view-article-textarea {
  border: none !important;
  padding: 0 !important;
  background-color: white !important;
}

.tbl-list-articles th:nth-child(1) {
  width: 20%;
}

.tbl-list-articles th:nth-child(2) {
  width: 20%;
}

.tbl-list-articles th:nth-child(3) {
  width: 20%;
}

.tbl-list-articles th:nth-child(4) {
  width: 20%;
}

.tbl-list-articles th:nth-child(5) {
  width: 20%;
}

.flag-navbar-link img {
  margin-top: -0.2rem;
  height: 16.837px;
  cursor: pointer;
}

.flag-navbar-link.selected {
  padding-bottom: 0.5rem;
  border-bottom-width: 0.05rem;
  border-bottom-color: #231f20;
  border-bottom-style: solid;
}

.flag-navbar-link{
  margin-right: 0.5rem;
}

.view-article-share-body {
  margin-top: 0.5rem;
}

.view-article-share-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #231f20;
}

.view-article-share-icon:hover {
  color: #231f20;
  font-family: Gotham-Bold;
  font-weight: bold;
}

.content-heading-margin-top {
  margin-top: 3.5rem;
}

.content-heading-margin-bottom {
  margin-bottom: 3.5rem;
}

.public-page .contact-entry-margin-bottom{
  margin-bottom: 1.6rem;
}

.public-page .contact-entry a, .public-page .contact-entry a:hover {
  color: #231f20;
}

.public-page .contact-entry {
  line-height: 2;
}

.tbl-lookup {
  margin-top: 1.6rem;
}

.input-group-error-message {
  margin-top: 0.5rem;
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}

.public-page .people-section {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.public-page .people-heading {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.admin-footer .footer {
  height: 40rem;
}

.modal .modal-content {
  border-width: 0rem;
  border-radius: 0;
  background-color: #231f20;
  color: white;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

.modal .modal-dialog {
  width: 50%;
  max-width: 100%;
}

.btn-modal-close {
  cursor: pointer;
  height: 1.2rem;
}

.modal .content-margin-bottom {
  margin-bottom: 3.5rem;
}

.modal .modal-main-content {
  color: #00aeef;
  font-size: 1.5rem;
  font-family: Antwerp_Light;
}

.modal .modal-margin-top{
  margin-top: 1rem;
}

.modal .modal-margin-bottom{
  margin-bottom: 1rem;
}

.modal a, .modal a:hover {
  border-bottom: 0.05rem solid #00aeef;
  cursor: pointer;
}

.modal .mailing-list-modal-link{
  color: white;
  font-family: Gotham-Light;
}

.mailing-list-margin-top{
  margin-top: 4rem;
}

.lds-ellipsis {
  margin: auto;
  position: relative;
  width: 10rem;
  height: 5rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 2.062rem;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  background: #d3d3d3;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 1rem;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 1rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 4rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 8rem;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(3rem, 0);
  }
}

.admin-page .textarea-control{
  min-height: 10.182rem;
}

.secretariate-margin-bottom{
  margin-bottom: 3.5rem;
}

.secretariate-image{
  width: 225px;
  height: 225px;
}

.secretariate-section{
  font-size: 0.9rem;
  padding-left: 1rem;
}

.vertical-center-container {
  height: 100%;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.public-page .secretariat-content{
  margin-top: 1rem;
}

app-content-article p{
  font-size: 1rem;
}

.link-document{
  overflow-wrap: break-word;
}
