<div class="form-group" [formGroup]="form">
  <label i18n="@@editArticleLabelVisibility">Visibility</label>
  <select class="form-control" [formControlName]="id" (change)="changeVisibility()">
    <option [value]="''" i18n="@@editArticleVisibilitySearch">Select Visibility</option>
    <option [value]="'Hidden'" i18n="@@editArticleVisibilityUnpublished">Unpublished</option>
    <option [value]="'Public'" i18n="@@editArticleVisibilityPublished">Published</option>
  </select>
</div>