<app-public-nav-bar></app-public-nav-bar>
<div class="public-page top-image">
  <div class="image-overlay">
    <div class="absolute-center absolute-center-top-image home-top-image-content">
      <div class="text-center">
        <div class="image-heading"><span i18n="@@homeTopImageHeadingP1">WE ARE THE</span>&nbsp;<span
            class="image-heading-bold-sm" i18n="@@homeTopImageHeadingP2">CATHOLIC CHURCH</span>
        </div>
        <div class="image-heading" i18n="@@homeTopImageHeadingP3">THROUGHOUT SOUTHERN AFRICA</div>
        <div class="image-heading-bold heading-primary" i18n="@@homeTopImageHeadingP4">COMMUNICATING OUR STORIES</div>
        <div class="image-heading" i18n="@@homeTopImageHeadingP5">IN ORDER TO GROW, SERVE & THRIVE</div>
        <div class="image-heading" i18n="@@homeTopImageHeadingP6">AS A UNITED COMMUNITY</div>
        <button class="btn btn-primary btn-submit-story d-none d-md-inline-block" type="button"
          i18n="@@homeTopImageButton" (click)="viewStories()">SUBMIT A
          STORY</button>
        <button class="btn btn-primary btn-sm btn-submit-story d-xs-inline-block d-md-none" type="button"
          i18n="@@homeTopImageButton" (click)="viewStories()">SUBMIT A
          STORY</button>
      </div>
    </div>
  </div>
  <img class="w-100 link-submit-story" src="assets/images/header/Imbisa_HomeHeader.jpg">
</div>
<div class="public-page" id="content-top">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="content content-width content-margin-bottom heading-bold heading-primary text-center"
        i18n="@@homeHeadingOurStories">OUR STORIES</div>
      <div class="content content-width content-margin-bottom">
        <div class="row">
          <div class="col-sm text-center remove-margin-left">
            <select class="form-control content-select" [(ngModel)]="query.topic" (change)="homeSearch()"
              [disabled]="queryService.searching">
              <option i18n="@@homeTopicSearch" [value]="''">Filter by Topic</option>
              <option *ngFor="let topic of topicService.list" [value]="topic.name">{{topic.name}}
            </select>
          </div>
          <div class="col-sm text-center">
            <select class="form-control content-select" [(ngModel)]="query.region" (change)="homeSearch()"
              [disabled]="queryService.searching">
              <option i18n="@@homeCountrySearch" [value]="''">Filter by Country</option>
              <option *ngFor="let region of regionService.list" [value]="region.name">{{region.name}}
            </select>
          </div>
          <div class="col-sm text-center remove-margin-right">
            <select class="form-control content-select" [(ngModel)]="monthsService.currentMonthName"
              (change)="homeChangeDate()" [disabled]="queryService.searching">
              <option i18n="@@homeDateSearch" [value]="''">Filter by Date</option>
              <option *ngFor="let month of monthsService.months" [value]="month.name">{{month.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div [ngClass]="{hidden: !queryService.searching}"
        class="content content-width">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div [ngClass]="{hidden: queryService.searching}">
        <div class="content content-width content-margin-bottom">
          <div *ngFor="let row of articles; let i = index">
            <div class="row article-bottom-margin d-xs-flex d-md-none" *ngFor="let col of row">
              <div class="col-sm">
                <div class="article-border article-left-margin article-right-margin article-height"
                  (click)="viewArticle(col)">
                  <img class="w-100" [src]="domSanitizer.bypassSecurityTrustUrl(col.articleImageContent)">
                  <div class="article-section-sm">
                    <div class="article-heading article-heading-margin-bottom">{{col.articleHeadline}}</div>
                    <div
                      class="article-sub-heading article-sub-heading-border-top article-sub-heading-left article-sub-heading-right">
                      <div>{{col.publishDate | date}}</div>
                      <div class="bold">{{col.authorName}}</div>
                      <div>{{col.region}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row article-border article-bottom-margin d-none d-md-flex" *ngIf="row.length"
              (click)="viewArticle(row[0])">
              <div class="col-sm-8">
                <div class="article-left-margin">
                  <img class="w-100" [src]="domSanitizer.bypassSecurityTrustUrl(row[0].articleImageContent)">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="article-section article-left-margin">
                  <div class="article-heading article-heading-margin-bottom">{{row[0].articleHeadline}}</div>
                  <div class="article-sub-heading article-sub-heading-border-top article-sub-heading-right">
                    <div>{{row[0].publishDate | date}}</div>
                    <div class="bold">{{row[0].authorName}}</div>
                    <div>{{row[0].region}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row article-bottom-margin d-none d-md-flex" *ngIf="row.length > 1">
              <div class="col-sm-4" *ngIf="i % 2 == 0">
                <div class="article-border article-left-margin article-right-margin article-height"
                  *ngIf="row.length == 3" (click)="viewArticle(row[2])">
                  <img class="w-100" [src]="domSanitizer.bypassSecurityTrustUrl(row[2].articleImageContent)">
                  <div class="article-section-sm">
                    <div class="article-heading article-heading-margin-bottom">{{row[2].articleHeadline}}</div>
                    <div
                      class="article-sub-heading article-sub-heading-border-top article-sub-heading-left article-sub-heading-right">
                      <div>{{row[2].publishDate | date}}</div>
                      <div class="bold">{{row[2].authorName}}</div>
                      <div>{{row[2].region}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="article-border article-height"
                  [ngClass]="{'article-left-margin': !(i % 2 == 0), 'article-right-margin': i % 2 == 0}"
                  (click)="viewArticle(row[1])">
                  <img class="w-100" [src]="domSanitizer.bypassSecurityTrustUrl(row[1].articleImageContent)">
                  <div class="article-section-sm">
                    <div class="article-heading">{{row[1].articleHeadline}}</div>
                    <div class="article-sub-heading-border-top">
                      <span>{{row[1].publishDate | date}}</span>
                      <span class="bold article-author">{{row[1].authorName}}</span>
                      <span class="float-right">{{row[1].region}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="!(i % 2 == 0)">
                <div class="article-border article-left-margin article-right-margin article-height"
                  *ngIf="row.length == 3" (click)="viewArticle(row[2])">
                  <img class="w-100" [src]="domSanitizer.bypassSecurityTrustUrl(row[2].articleImageContent)">
                  <div class="article-section-sm">
                    <div class="article-heading article-heading-margin-bottom">{{row[2].articleHeadline}}</div>
                    <div
                      class="article-sub-heading article-sub-heading-border-top article-sub-heading-left article-sub-heading-right">
                      <div>{{row[2].publishDate | date}}</div>
                      <div class="bold">{{row[2].authorName}}</div>
                      <div>{{row[2].region}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content content-width content-margin-bottom-last text-center">
          <button class="btn btn-secondary" type="button" i18n="@@homeBackToTop" (click)="backToTop()"
            [ngClass]="{hidden: !queryService.queryDocuments.length}">back to top
          </button>
          <button class="btn btn-secondary" type="button" i18n="@@homeNoMoreResults" disabled
            [ngClass]="{hidden: queryService.queryDocuments.length}">no more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mailing-list></app-mailing-list>
<app-footer></app-footer>